pub/soap/icinga.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:nls="http://xml.apache.org/xml-soap"
		xmlns:tns="http://www.icinga.org/icingaApi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="icingaApi" targetNamespace="http://www.icinga.org/icingaApi/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.icinga.org/icingaApi/">
      
      <xsd:element name="nsl:map">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element minOccurs="0" maxOccurs="unbounded"
      							 name="item" type="tns:keyValuePair"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="keyValuePair">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element minOccurs="1" maxOccurs="1" name="key" type="xsd:string"/>
      			<xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:anyxml"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="apiRequest">
    <wsdl:part type="xsd:string" name="target"/>
    <wsdl:part element="tns:map" name="soapFilter"/>
    <wsdl:part type="xsd:string" name="group"/>
    <wsdl:part type="xsd:string" name="column"/>
    <wsdl:part type="xsd:string" name="order"/>
    <wsdl:part type="xsd:int" name="limit"/>
    <wsdl:part type="xsd:string" name="authkey"/>  
  </wsdl:message>
  
  <wsdl:message name="apiResponse">
    <wsdl:part type="xsd:anyxml" name="results"/>
  </wsdl:message>
  
  <wsdl:portType name="icingaApi">
    <wsdl:operation name="getIcingaAPI">
      <wsdl:input message="tns:apiRequest"/>
      <wsdl:output message="tns:apiResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Icinga Api binding -->
  <wsdl:binding name="icingaApiSOAP" type="tns:icingaApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getIcingaAPI">
      <soap:operation soapAction="http://localhost/icinga-web/soap/api/get"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="icinga">
    <!-- Our soap interface to the icinga-api -->
    <wsdl:port binding="tns:icingaApiSOAP" name="icingaSOAP">
      <soap:address location="http://localhost/icinga-web/soap/"/>
    </wsdl:port>
  </wsdl:service>
  
  
</wsdl:definitions>
